.dashboard-container{
    padding: 4rem;
    background-color: white;
    width: 40%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
}

#id_description {
    height: 84px;
}