html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -7.5%;
    background-color: aliceblue;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-25%, -75%);
}

.login-form{
    padding: 5%;
    padding-top: 10%;
    background: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
}

.login-form h1{
    text-align: center;
    color: #051928;
}

.login-container form{
    padding: 10%;
}

.login-form input{
    width: 100%;
    height: 50px;
    padding-left: 5%;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    border: none;
    
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.11);
}

.spacer {
    padding: 1%;
}

.btnSubmit
{
    margin-top: 10%;
    width: 50%;
    border-radius: 0.5rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form .btnSubmit{
    font-weight: 600;
    color: white;
    background-color: #1A4875;
    height: 50px;
    width: 100%;
}

