{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/selection.css'%}">
    <!-- Login CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="container" id="selection-container-holder">
            <div class="selection-container">
                <a class="clickable" href="{% url 'inventory' %}">
                    <div class="small-container">
                        <i class="fas fa-warehouse"></i>
                        <p class="heading">Inventory</p>
                    </div>
                </a>
                <div class="spacer"></div>
                <a class="clickable" href="{% url 'stocklist' %}">
                    <div class="small-container">
                        <i class="fas fa-sticky-note"></i>
                        <p class="heading">Stock Items</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Bootstrap JavaScript -->
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Font Awesome 5 -->
    <script src="{% static 'js/fontawesome.js' %}"></script>

    {% block js %}{% endblock %}
</body>

</html>